name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Build APK with Buildozer
      uses: digreatbrian/buildozer-action@v2
      with:
        buildozer-cmd: buildozer android debug
